<div id="article-preview-<%= article[:id] %>" class="article__preview article__preview--loaded">
  <h4>Preview</h4>
  <p><%= article[:body] %></p>
  <p class="article__preview-hint">
    <em>Reload the page to reset.</em>
  </p>
</div>
