<div id="report-frame" class="report-frame">
  <h3 class="report-frame__heading">Report for <%= year %></h3>
  <div class="alert alert--success">
    <p>Found <%= pluralize(row_count, "row") %> for <%= year %>. We'll email the report shortly.</p>
  </div>
  <p class="report-frame__hint">Close and reopen the modal to start over.</p>
</div>
